<style>
    .container {
    padding-top: 0rem;
    margin-left: 300px;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f7f1fd;
    border-radius: 25px;
    }
    form{
        width: 70%;
    }
</style>


<div class="container">
    <h3 style="align-items: center;">Add Products</h3>
    <form action="/admin/addProduct" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="usr">Product Name</label>
            <input type="text" name="productName" class="form-control" id="usr" required="">
        </div>
        <div class="form-group">
            <label for="comment">Product Description</label>
            <textarea class="form-control" name="productDescription" rows="5" id="comment"></textarea>
        </div>
        <div class="form-group">
            <label for="usr">Product Price</label>
            <input type="text" name="productPrice" class="form-control" id="price" required="">
        </div>
        <div class="form-group">
            <label for="cat">Choose a category:</label>
            <select id="cat" name="category" class="form-control" required>
                {{#each category}}
                <option value="{{this._id}}">{{this.category}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="usr">Product Quantity</label>
            <input type="number" name="qty" class="form-control" id="qty" required="">
        </div>
        <div id="result" class="form-group">
            <label for="usr">Product Image</label>
            <img id="imgView" height="100px" width="100px">
            <input type="file" class="form-control" name="img" id="prodImg"  accept="image/*"
                required="">
        </div>
        <textarea name="croppedImg" id="croppedImg" cols="30" rows="10" hidden></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{!-- modal  --}}
<div class="modal fade" id="productCropModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <canvas id="canvas">
                    Your browser does not support the HTML5 canvas element.
                  </canvas>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="cropProductImg" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

<script>
    
</script>
{{!-- crop image  --}}
