<style>
  .chart-div {
    height: ;
    width: ;
  }
</style>
<div class="container-fluid">
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary">Share</button>
          <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        {{!-- <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button> --}}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><span data-feather="calendar"></span>
            This Month
          </button>
          <!--
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">This month</a>
            <a class="dropdown-item" href="#">This year</a>
          </div> -->
        </div>
      </div>
    </div>
    <div class="chart-div row">
      <div class="col-sm-12 col-md-6">
        <canvas class="my-4" id="myChart" width="900z" height="380"></canvas>
      </div>
      <div class="col-sm-12 col-md-6">
        <canvas class="my-4" id="myChart2"></canvas>
      </div>
    </div>
    <div class="chart-div row">
      <div class="col-sm-12 col-md-6">
        <canvas id="myChart3"></canvas>
      </div>
    </div>
  </main>
</div>
</div>


<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  $(document).ready(function () {
    $.ajax({
      url: '/admin/ajax/graph',
      method: 'get',
      success: (response) => {
        let count = response.count;
        let day = response.date;
        let ctx = document.getElementById("myChart");
        let myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: day,
            datasets: [{
              label: 'Of Orders',
              data: count,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            },
            legend: {
              display: false,
            },
            title: {
              display: true,
              text: 'Orders',
              position: "left",
            },
          },

        });
      }
    })

    $.ajax({
      url: '/admin/ajax/pieChart',
      method: 'get',
      success: (response) => {
        let ctx2 = document.getElementById("myChart2");
        let myChart = new Chart(ctx2, {
          type: 'doughnut',
          data: {
            labels: ['cancelled orders', 'pending orders', 'placed orders'],
            datasets: [{
              label: 'Of Orders',
              data: response,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
              ], borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: .5
            }]
          },
          options: {
          },
        });
      }
    })

    $.ajax({
      url: '/admin/ajax/lineChart',
      method: 'get',
      success: (response) => {
        var ctx3 = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx3, {
          type: 'line',
          data: {
            labels: response.date,
            datasets: [{
              label: '# of sales',
              data: response.sales,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            },
            legend: {
              display: false,
            },
            title: {
              display: true,
              text: 'Sales',
              position: "left",
            },
          },
        });
      }
    })

  })

</script>