
<div class="container-fluid">
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 row">
  <h2>Reports</h2>
<hr class="mt-5 mb-5">

  <div class="card-columns">
    <div class="card bg-light">
      <div class="card-body text-center">
          <h4 class="cart-text">Total no. of customers</h4>
        <p class="card-text">{{user_count}} ({{userInWords}})</p>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
         <h4 class="cart-text">Total no. of Products</h4>
        <p class="card-text">{{product_count}} ({{productInWords}})</p>
      </div>
    </div>  
    <div class="card bg-warning">
      <div class="card-body text-center">
         <h4 class="cart-text">Total no. of products sold</h4>
        <p class="card-text">45 (fourty five)</p>
      </div>
    </div>
    
  </div>
  </main>
</div>

