<!-- Font Icon -->
<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->

<link rel="stylesheet" href="/stylesheets/user/style.css">

<section class="sign-in">
    <div class="container">
        <div class="signin-content " style="margin-top: 7rem;">
            <div class="signin-image">
                <figure><img src="https://r1.ilikewallpaper.net/pic/201405/Watches_Machinery_Gear_Gold_1_640.jpg"
                        alt="sing up image"></figure>
                <a href="/signup" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Login</h2>
                <form class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="email" name="email" id="your_name" placeholder="Your Email" required="true" />
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" id="your_pass" placeholder="Password" required="true" />
                    </div>
                    <div class="empty" style="display: none;">
                        <p>Enter user name and password</p>
                    </div>
                    <div class="blocked" style="display: none;">
                        <p>Your account is blocked</p>
                    </div>
                    <div class="noUser" style="display: none;">
                        <p>user didn't exist</p>
                    </div>
                    <div class="wrongPass" style="display: none;">
                        <p>incorrect password..!</p>
                    </div>

                    <div class="form-group">
                        <button onclick="loginWithOtp()"
                            style="color: #4e8ccf;text-decoration: underline; border:none;background-color:white">Login
                            with OTP</button><br>
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="button" id="signin" class="form-submit" value="Log in" />
                    </div>
                </form>
                <form id="otp-form" class="register-form" style="display: none;">
                    <div class="form-group">
                        <label for="your_mobile-number"><i class="zmdi zmdi-smartphone-iphone"></i></label>
                        <input type="tel" id="your_mobile" placeholder="Enter your mobile number" name="phone"
                            required />
                    </div>
                    <div class="no-mobile" style="display: none;">
                        <p style="color: rgb(170, 28, 28);">Not a registered mobile number</p>
                    </div>
                    <div class="form-group form-button">
                        <button onclick="loginWithEmail()"
                            style="color: #4e8ccf;text-decoration: underline; border:none;background-color:white">Login
                            with email</button><br>
                        <input type="submit" id="otp-login" class="form-submit" value="Send OTP" />
                    </div>
                </form>
                
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function loginWithEmail() {
        $('#otp-form').hide();
        $('#login-form').show();
    }

    function loginWithOtp() {
        $('#login-form').hide();
        $('#otp-form').show();
    }

    $('#otp-form').submit(function (e) {
        e.preventDefault();
        let mobile = $('#your_mobile').val();
        $.ajax({
            url: '/ajax/isMobile',
            method: 'post',
            data: { "mobile": mobile },
            success: (response) => {
                if (response.status == 'valid') {
                    sendOtp(mobile);
                } else if (response.status == 'invalid') {
                    $('.no-mobile').show();
                }
            }
        })
    })

    function sendOtp(mobile) {
        
            $.ajax({
            url: '/callOtp',
            method: 'post',
            data: { "mobile": mobile },
            success: (response) => {
                console.log(response)
                localStorage.setItem('otp_id', response.otp_id);
                localStorage.setItem('mobile',response.user_phone)
                location.href='/otpVerification'
            }
        })
        
        
    }
</script>