<style>
    /* Limit image width to avoid overflow the container */
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#canvas {
  height: 400px;
  width: 400px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}
</style>
<p>
    <!-- Below are a series of inputs which allow file selection and interaction with the cropper api -->
            <input type="file" id="fileInput" accept="image/*" />
            <input type="button" id="btnCrop" value="Crop" />
            <input type="button" id="btnRestore" value="Restore" />
    </p>
    <div>
      <canvas id="canvas">
        Your browser does not support the HTML5 canvas element.
      </canvas>
    </div>		
    
    <div id="result"></div>
    
          
    <script>
       
    </script>